body {
	background-image: url();
}

.jumbotron{
	background: url('../images/crs.jpg');
	padding: 10% 20% 10% 20%;
	}

.profile_img {
	
	width: 100%;
  	height: auto;
}

.inputBox {
	width: 100%;
	height:40px;

}